astroid==2.4.2
autoflake==1.7.8
beautifulsoup4==4.9.3
cffi
chardet==3.0.4
click==8.1.3
cryptography 
dlint==0.14.0
dnspython 
doc8==0.11.2
docformatter==1.5.1
flake8-2020==1.6.1
flake8-aaa==0.13.0
flake8-annotations==2.9.1
flake8-annotations-complexity==0.0.7
flake8-annotations-coverage==0.0.6
flake8-black==0.3.6
flake8-blind-except==0.2.1
flake8-breakpoint==1.1.0
flake8-builtins==1.5.3
flake8-class-attributes-order==0.1.3
flake8-coding==1.3.2
flake8-cognitive-complexity==0.1.0
flake8-comments==0.1.2
flake8-django==1.1.5
flake8-encodings==0.5.0.post1
flake8-executable==2.1.3
flake8-expression-complexity==0.0.11
flake8-fixme==1.1.1
flake8-functions==0.0.7
flake8-functions-names==0.4.0
flake8-future-annotations==0.0.5
flake8-literal==1.3.0
flake8-logging-format==0.9.0
flake8-markdown==0.3.0
flake8-mutable==1.2.0
flake8-no-pep420==2.3.0
flake8-noqa==1.3.0
flake8-pie==0.16.0
flake8-pyi==22.11.0
flake8-pylint==0.1.3
flake8-pytest-style==1.7.2
flake8-secure-coding-standard==1.4.0
flake8-simplify==0.19.3
flake8-slots==0.1.5
flake8-tidy-imports==4.8.0
flake8-typing-imports==1.12.0
flake8-use-fstring==1.4
flake8-use-pathlib==0.3.0
flake8-useless-assert==0.4.4
flake8-variables-names==0.0.5
flake8-warnings==0.4.0
Flask==2.2.3
funcy==1.18
gunicorn==20.1.0
idna==2.10
imbalanced-learn==0.10.1
imblearn==0.0
isort==5.7.0
itsdangerous==2.1.2
joblib==1.2.0
jupyterlab-flake8==0.7.1
lazy-object-proxy==1.4.3
lxml==4.6.2
MarkupSafe==2.1.2
mccabe==0.6.1
numpy==1.22.4
pandas 
pandas-vet==0.2.3
pybrowsers==0.4.1
pycparser 
pyLDAvis==3.4.0
pylint==2.6.0
pymongo 
python-dateutil
python-dev-tools==2022.5.27
python-dotenv==0.20.0
pytz 
scikit-learn==1.0.2
six 
soupsieve==2.0.1
threadpoolctl==3.1.0
toml==0.10.2
top2vec==1.0.28
webdriver-manager==3.8.0
Werkzeug==2.2.3
wrapt==1.12.1
